<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cupcakes!</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/cupcake.css">
</head>

<body class="container">

    <h1>Kim and Sammy's Cupcakes</h1>
    <ul>
        {% for cupcake in cupcakes %}
        <li>
            <img src="{{cupcake.image}}" alt="cupcake image">
            <span>{{cupcake.flavor}} {{cupcake.size}} <i>{{cupcake.rating}}</i></span>
        </li>
        {% endfor %}
    </ul>

    <form action="POST">
        <label for="flavor"> Flavor </label>
        <input type="text" name="flavor" id="flavor">

        <label for="size"> Size </label>
        <input type="text" name="size" id="size">

        <label for="rating"> Rating </label>
        <input type="int" name="rating" id="rating">

        <label for="image"> Image </label>
        <input type="text" name="image" id="image">

        <button type="submit" class="btn btn-success">Add Cupcake!</button>
    </form>
    <script src="/static/cupcakes.js"></script>
</body>


</html>